In [759]:
import numpy as np 
import pandas as pd

In [760]:
data= pd.read_csv(('TP1_nettoyage_donnees/boston.csv'),index_col=0)
data['medium_url'].isnull().all()

True

Drop Columns with only null values in them

In [761]:
all_null_columns=[]
for i in data.columns : 
    if data[i].isnull().all() :
        data=data.drop(columns=i)
        all_null_columns.append(i)
all_null_columns

['thumbnail_url',
 'medium_url',
 'xl_picture_url',
 'host_acceptance_rate',
 'neighbourhood_group_cleansed']

Drop Duplicate

In [762]:
data=data.drop_duplicates()

In [763]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3507 entries, 5506 to 40573640
Data columns (total 100 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   listing_url                                   3507 non-null   object
 1   scrape_id                                     3507 non-null   int64
 2   last_scraped                                  3507 non-null   object
 3   name                                          3507 non-null   object
 4   summary                                       3430 non-null   object
 5   space                                         2840 non-null   object
 6   description                                   3465 non-null   object
 7   experiences_offered                           3507 non-null   object
 8   neighborhood_overview                         2556 non-null   object
 9   notes                                         2414 non-null   object
 10  transit                                       2276 non-null   object
 11  access                                        2083 non-null   object
 12  interaction                                   2412 non-null   object
 13  house_rules                                   2566 non-null   object
 14  picture_url                                   3507 non-null   object
 15  host_id                                       3507 non-null   int64
 16  host_url                                      3507 non-null   object
 17  host_name                                     3492 non-null   object
 18  host_since                                    3492 non-null   object
 19  host_location                                 3489 non-null   object
 20  host_about                                    2420 non-null   object
 21  host_response_time                            3098 non-null   object
 22  host_response_rate                            3098 non-null   object
 23  host_is_superhost                             3492 non-null   object
 24  host_thumbnail_url                            3492 non-null   object
 25  host_picture_url                              3492 non-null   object
 26  host_neighbourhood                            3253 non-null   object
 27  host_listings_count                           3492 non-null   float64
 28  host_total_listings_count                     3492 non-null   float64
 29  host_verifications                            3507 non-null   object
 30  host_has_profile_pic                          3492 non-null   object
 31  host_identity_verified                        3492 non-null   object
 32  street                                        3507 non-null   object
 33  neighbourhood                                 3494 non-null   object
 34  neighbourhood_cleansed                        3507 non-null   object
 35  city                                          3505 non-null   object
 36  state                                         3507 non-null   object
 37  zipcode                                       3492 non-null   object
 38  market                                        3503 non-null   object
 39  smart_location                                3507 non-null   object
 40  country_code                                  3507 non-null   object
 41  country                                       3507 non-null   object
 42  latitude                                      3507 non-null   float64
 43  longitude                                     3507 non-null   float64
 44  is_location_exact                             3507 non-null   object
 45  property_type                                 3507 non-null   object
 46  room_type                                     3507 non-null   object
 47  accommodates                                  3507 non-null   int64
 48  bathrooms                                     3505 non-null   float64
 49  bedrooms                                      3504 non-null   float64
 50  beds                                          3502 non-null   float64
 51  bed_type                                      3507 non-null   object
 52  amenities                                     3507 non-null   object
 53  square_feet                                   124 non-null    float64
 54  price                                         3507 non-null   object
 55  weekly_price                                  292 non-null    object
 56  monthly_price                                 296 non-null    object
 57  security_deposit                              2614 non-null   object
 58  cleaning_fee                                  3114 non-null   object
 59  guests_included                               3507 non-null   int64
 60  extra_people                                  3507 non-null   object
 61  minimum_nights                                3507 non-null   int64
 62  maximum_nights                                3507 non-null   int64
 63  minimum_minimum_nights                        3507 non-null   int64
 64  maximum_minimum_nights                        3507 non-null   int64
 65  minimum_maximum_nights                        3507 non-null   int64
 66  maximum_maximum_nights                        3507 non-null   int64
 67  minimum_nights_avg_ntm                        3507 non-null   float64
 68  maximum_nights_avg_ntm                        3507 non-null   float64
 69  calendar_updated                              3507 non-null   object
 70  has_availability                              3507 non-null   object
 71  availability_30                               3507 non-null   int64
 72  availability_60                               3507 non-null   int64
 73  availability_90                               3507 non-null   int64
 74  availability_365                              3507 non-null   int64
 75  calendar_last_scraped                         3507 non-null   object
 76  number_of_reviews                             3507 non-null   int64
 77  number_of_reviews_ltm                         3507 non-null   int64
 78  first_review                                  2823 non-null   object
 79  last_review                                   2823 non-null   object
 80  review_scores_rating                          2813 non-null   float64
 81  review_scores_accuracy                        2811 non-null   float64
 82  review_scores_cleanliness                     2812 non-null   float64
 83  review_scores_checkin                         2810 non-null   float64
 84  review_scores_communication                   2813 non-null   float64
 85  review_scores_location                        2811 non-null   float64
 86  review_scores_value                           2811 non-null   float64
 87  requires_license                              3507 non-null   object
 88  license                                       1932 non-null   object
 89  jurisdiction_names                            3504 non-null   object
 90  instant_bookable                              3507 non-null   object
 91  is_business_travel_ready                      3507 non-null   object
 92  cancellation_policy                           3507 non-null   object
 93  require_guest_profile_picture                 3507 non-null   object
 94  require_guest_phone_verification              3507 non-null   object
 95  calculated_host_listings_count                3507 non-null   int64
 96  calculated_host_listings_count_entire_homes   3507 non-null   int64
 97  calculated_host_listings_count_private_rooms  3507 non-null   int64
 98  calculated_host_listings_count_shared_rooms   3507 non-null   int64
 99  reviews_per_month                             2823 non-null   float64
dtypes: float64(18), int64(20), object(62)
memory usage: 2.7+ MB

In [764]:
data.head(3)

,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,notes,...,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
id,,,,,,,,,,,,,,,,,,,,,
5506,https://www.airbnb.com/rooms/5506,20191204162830,2019-12-04,**$79 Special ** Private! Minutes to center!,"Private guest room with private bath, You do n...",**THE BEST Value in BOSTON!!*** PRIVATE GUEST ...,"Private guest room with private bath, You do n...",none,"Peacful, Architecturally interesting, historic...","Guest room is on the 3rd floor, Steps are req...",...,t,f,strict_14_with_grace_period,f,f,6,6,0,0,0.81
6695,https://www.airbnb.com/rooms/6695,20191204162830,2019-12-04,$99 Special!! Home Away! Condo,"Comfortable, Fully Equipped private apartment...",** WELCOME *** FULL PRIVATE APARTMENT In a His...,"Comfortable, Fully Equipped private apartment...",none,"Peaceful, Architecturally interesting, histori...",Check out some of the other accommodations we ...,...,t,f,strict_14_with_grace_period,f,f,6,6,0,0,0.91
8789,https://www.airbnb.com/rooms/8789,20191204162830,2019-12-04,Curved Glass Studio/1bd facing Park,"Bright, 1 bed with curved glass windows facing...",Fully Furnished studio with enclosed bedroom. ...,"Bright, 1 bed with curved glass windows facing...",none,Beacon Hill is a historic neighborhood filled ...,Guests should expect to show government ID to ...,...,f,f,strict_14_with_grace_period,f,f,10,10,0,0,0.37

In [765]:
num_missing = data['license'].isnull().sum()

print('percentage of missing values in license column :',num_missing/data.shape[0])

percentage of missing values in license column : 0.4491017964071856

In [766]:
data['calendar_last_scraped'].unique()

array(['2019-12-04', '2019-12-05'], dtype=object)

In [767]:
data['jurisdiction_names'].isnull().sum()
#data['jurisdiction_names'].unique()

3

In [768]:
data['calculated_host_listings_count_shared_rooms'].unique()

array([0, 1, 5, 4], dtype=int64)

In [769]:
data['bed_type'].unique()

array(['Real Bed', 'Pull-out Sofa', 'Futon', 'Airbed', 'Couch'],
      dtype=object)

In [770]:
#droping columns woth low variance ( same values for all rows), similiar columns (country and country code for example)
to_dropee=['ID', 'LISTING_URL', 'SCRAPE_ID', 'LAST_SCRAPED', 'NAME', 'SUMMARY', 'SPACE', 'DESCRIPTION', 'EXPERIENCES_OFFERED', 'NEIGHBORHOOD_OVERVIEW', 'NOTES', 'TRANSIT', 'ACCESS', 'INTERACTION', 'HOUSE_RULES', 'THUMBNAIL_URL', 'MEDIUM_URL', 'PICTURE_URL', 'XL_PICTURE_URL', 'HOST_URL', 'HOST_NAME', 'HOST_SINCE', 'HOST_LOCATION', 'HOST_ABOUT', 'HOST_THUMBNAIL_URL', 'HOST_PICTURE_URL', 'HOST_NEIGHBOURHOOD', 'HOST_VERIFICATIONS', 'STREET', 'NEIGHBOURHOOD', 'NEIGHBOURHOOD_CLEANSED', 'NEIGHBOURHOOD_GROUP_CLEANSED', 'CITY', 'STATE', 'ZIPCODE', 'MARKET', 'SMART_LOCATION', 'COUNTRY_CODE', 'COUNTRY', 'IS_LOCATION_EXACT', 'CALENDAR_UPDATED', 'HAS_AVAILABILITY', 'CALENDAR_LAST_SCRAPED', 'REQUIRES_LICENSE', 'LICENSE', 'JURISDICTION_NAMES', 'REQUIRE_GUEST_PROFILE_PICTURE', 'REQUIRE_GUEST_PHONE_VERIFICATION', 'CALCULATED_HOST_LISTINGS_COUNT', 'CALCULATED_HOST_LISTINGS_COUNT_ENTIRE_HOMES', 'CALCULATED_HOST_LISTINGS_COUNT_PRIVATE_ROOMS', 'CALCULATED_HOST_LISTINGS_COUNT_SHARED_ROOMS']
to_drop=['description','experiences_offered','last_scraped','transit','access','summary','space','neighborhood_overview','notes','interaction','house_rules','picture_url','host_about','host_thumbnail_url','country','calendar_last_scraped','jurisdiction_names','market','smart_location','country','license','listing_url','host_url','host_picture_url','name','host_name','zipcode','street','host_location']

for i in to_dropee :
    if i.lower() not in to_drop+all_null_columns  : print(i)

ID
SCRAPE_ID
HOST_SINCE
HOST_NEIGHBOURHOOD
HOST_VERIFICATIONS
NEIGHBOURHOOD
NEIGHBOURHOOD_CLEANSED
CITY
STATE
COUNTRY_CODE
IS_LOCATION_EXACT
CALENDAR_UPDATED
HAS_AVAILABILITY
REQUIRES_LICENSE
REQUIRE_GUEST_PROFILE_PICTURE
REQUIRE_GUEST_PHONE_VERIFICATION
CALCULATED_HOST_LISTINGS_COUNT
CALCULATED_HOST_LISTINGS_COUNT_ENTIRE_HOMES
CALCULATED_HOST_LISTINGS_COUNT_PRIVATE_ROOMS
CALCULATED_HOST_LISTINGS_COUNT_SHARED_ROOMS

In [771]:
data=data.drop(columns=to_drop)
data

,scrape_id,host_id,host_since,host_response_time,host_response_rate,host_is_superhost,host_neighbourhood,host_listings_count,host_total_listings_count,host_verifications,...,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
id,,,,,,,,,,,,,,,,,,,,,
5506,20191204162830,8229,2009-02-19,within an hour,100%,f,Roxbury,6.0,6.0,"['email', 'phone', 'reviews', 'kba']",...,t,f,strict_14_with_grace_period,f,f,6,6,0,0,0.81
6695,20191204162830,8229,2009-02-19,within an hour,100%,f,Roxbury,6.0,6.0,"['email', 'phone', 'reviews', 'kba']",...,t,f,strict_14_with_grace_period,f,f,6,6,0,0,0.91
8789,20191204162830,26988,2009-07-22,within a few hours,100%,t,Beacon Hill,12.0,12.0,"['email', 'phone', 'reviews', 'jumio', 'offlin...",...,f,f,strict_14_with_grace_period,f,f,10,10,0,0,0.37
10730,20191204162830,26988,2009-07-22,within a few hours,100%,t,Beacon Hill,12.0,12.0,"['email', 'phone', 'reviews', 'jumio', 'offlin...",...,f,f,strict_14_with_grace_period,f,f,10,10,0,0,0.24
10811,20191204162830,38997,2009-09-16,within an hour,100%,f,Back Bay,11.0,11.0,"['email', 'phone', 'reviews', 'jumio', 'offlin...",...,f,f,strict_14_with_grace_period,f,f,7,7,0,0,0.19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40565168,20191204162830,266312920,2019-06-04,within an hour,100%,f,Allston-Brighton,24.0,24.0,"['email', 'phone', 'work_email']",...,t,f,strict_14_with_grace_period,f,f,13,13,0,0,NaN
40566368,20191204162830,276272964,2019-07-15,NaN,NaN,f,Roxbury,2.0,2.0,"['email', 'phone', 'offline_government_id', 's...",...,t,f,flexible,f,f,2,1,1,0,NaN
40567601,20191204162830,96961013,2016-09-27,within an hour,100%,t,Brookline,22.0,22.0,"['email', 'phone', 'reviews', 'jumio', 'govern...",...,t,f,strict_14_with_grace_period,f,f,3,3,0,0,NaN
40572099,20191204162830,96961013,2016-09-27,within an hour,100%,t,Brookline,22.0,22.0,"['email', 'phone', 'reviews', 'jumio', 'govern...",...,t,f,strict_14_with_grace_period,f,f,3,3,0,0,NaN
40573640,20191204162830,266312920,2019-06-04,within an hour,100%,f,Allston-Brighton,24.0,24.0,"['email', 'phone', 'work_email']",...,t,f,strict_14_with_grace_period,f,f,13,13,0,0,NaN

In [772]:
numerical_df = data.select_dtypes(include=['int', 'float'])
numerical_df

,scrape_id,host_id,host_listings_count,host_total_listings_count,latitude,longitude,accommodates,bathrooms,bedrooms,beds,...,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
id,,,,,,,,,,,,,,,,,,,,,
5506,20191204162830,8229,6.0,6.0,42.32981,-71.09559,2,1.0,1.0,1.0,...,10.0,10.0,10.0,9.0,10.0,6,6,0,0,0.81
6695,20191204162830,8229,6.0,6.0,42.32994,-71.09351,4,1.0,1.0,2.0,...,10.0,10.0,10.0,9.0,10.0,6,6,0,0,0.91
8789,20191204162830,26988,12.0,12.0,42.35919,-71.06265,2,1.0,1.0,1.0,...,9.0,10.0,10.0,10.0,9.0,10,10,0,0,0.37
10730,20191204162830,26988,12.0,12.0,42.35840,-71.06185,2,1.0,1.0,1.0,...,9.0,10.0,10.0,10.0,9.0,10,10,0,0,0.24
10811,20191204162830,38997,11.0,11.0,42.34973,-71.08792,3,1.0,0.0,1.0,...,9.0,9.0,8.0,10.0,9.0,7,7,0,0,0.19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40565168,20191204162830,266312920,24.0,24.0,42.36528,-71.11290,8,1.5,3.0,4.0,...,NaN,NaN,NaN,NaN,NaN,13,13,0,0,NaN
40566368,20191204162830,276272964,2.0,2.0,42.30989,-71.08437,8,1.0,4.0,1.0,...,NaN,NaN,NaN,NaN,NaN,2,1,1,0,NaN
40567601,20191204162830,96961013,22.0,22.0,42.33697,-71.15169,2,1.0,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,3,3,0,0,NaN
40572099,20191204162830,96961013,22.0,22.0,42.33697,-71.15169,4,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,3,3,0,0,NaN
40573640,20191204162830,266312920,24.0,24.0,42.33697,-71.15169,6,1.0,2.0,3.0,...,NaN,NaN,NaN,NaN,NaN,13,13,0,0,NaN

In [773]:
categorical_df = data.select_dtypes(include=['object'])
categorical_df.to_csv('tempcsvCat.csv')
categorical_df

,host_since,host_response_time,host_response_rate,host_is_superhost,host_neighbourhood,host_verifications,host_has_profile_pic,host_identity_verified,neighbourhood,neighbourhood_cleansed,...,calendar_updated,has_availability,first_review,last_review,requires_license,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification
id,,,,,,,,,,,,,,,,,,,,,
5506,2009-02-19,within an hour,100%,f,Roxbury,"['email', 'phone', 'reviews', 'kba']",t,t,Roxbury,Roxbury,...,today,t,2009-03-21,2019-10-31,t,t,f,strict_14_with_grace_period,f,f
6695,2009-02-19,within an hour,100%,f,Roxbury,"['email', 'phone', 'reviews', 'kba']",t,t,Roxbury,Roxbury,...,today,t,2009-08-06,2019-11-02,t,t,f,strict_14_with_grace_period,f,f
8789,2009-07-22,within a few hours,100%,t,Beacon Hill,"['email', 'phone', 'reviews', 'jumio', 'offlin...",t,f,Beacon Hill,Downtown,...,3 months ago,t,2014-08-12,2019-09-30,t,f,f,strict_14_with_grace_period,f,f
10730,2009-07-22,within a few hours,100%,t,Beacon Hill,"['email', 'phone', 'reviews', 'jumio', 'offlin...",t,f,Beacon Hill,Downtown,...,3 months ago,t,2009-09-21,2019-09-14,t,f,f,strict_14_with_grace_period,f,f
10811,2009-09-16,within an hour,100%,f,Back Bay,"['email', 'phone', 'reviews', 'jumio', 'offlin...",t,f,Back Bay,Back Bay,...,4 weeks ago,t,2016-01-09,2019-07-22,t,f,f,strict_14_with_grace_period,f,f
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40565168,2019-06-04,within an hour,100%,f,Allston-Brighton,"['email', 'phone', 'work_email']",t,f,NaN,Allston,...,today,t,NaN,NaN,t,t,f,strict_14_with_grace_period,f,f
40566368,2019-07-15,NaN,NaN,f,Roxbury,"['email', 'phone', 'offline_government_id', 's...",t,f,Roxbury,Roxbury,...,today,t,NaN,NaN,t,t,f,flexible,f,f
40567601,2016-09-27,within an hour,100%,t,Brookline,"['email', 'phone', 'reviews', 'jumio', 'govern...",t,f,Allston-Brighton,Brighton,...,today,t,NaN,NaN,t,t,f,strict_14_with_grace_period,f,f
40572099,2016-09-27,within an hour,100%,t,Brookline,"['email', 'phone', 'reviews', 'jumio', 'govern...",t,f,Allston-Brighton,Brighton,...,today,t,NaN,NaN,t,t,f,strict_14_with_grace_period,f,f
40573640,2019-06-04,within an hour,100%,f,Allston-Brighton,"['email', 'phone', 'work_email']",t,f,Allston-Brighton,Brighton,...,today,t,NaN,NaN,t,t,f,strict_14_with_grace_period,f,f

In [774]:
categorical_df['cleaning_fee'].unique()

array(['$60.00', '$80.00', '$250.00', '$150.00', '$100.00', '$145.00',
       '$175.00', '$21.00', '$0.00', '$25.00', nan, '$85.00', '$50.00',
       '$35.00', '$26.00', '$105.00', '$125.00', '$15.00', '$70.00',
       '$30.00', '$24.00', '$75.00', '$110.00', '$40.00', '$90.00',
       '$45.00', '$95.00', '$120.00', '$65.00', '$23.00', '$10.00',
       '$200.00', '$22.00', '$20.00', '$225.00', '$140.00', '$300.00',
       '$79.00', '$69.00', '$160.00', '$99.00', '$130.00', '$115.00',
       '$135.00', '$210.00', '$89.00', '$34.00', '$190.00', '$66.00',
       '$59.00', '$49.00', '$33.00', '$5.00', '$36.00', '$17.00',
       '$39.00', '$83.00', '$55.00', '$106.00', '$94.00', '$93.00',
       '$19.00', '$12.00', '$155.00', '$98.00', '$350.00', '$165.00',
       '$188.00', '$285.00', '$6.00', '$180.00', '$91.00', '$92.00',
       '$159.00', '$38.00', '$78.00', '$375.00', '$51.00', '$27.00',
       '$42.00', '$29.00', '$54.00', '$240.00', '$360.00', '$199.00',
       '$81.00', '$76.00', '$118.00', '$129.00', '$53.00', '$195.00',
       '$220.00', '$495.00', '$299.00', '$56.00', '$61.00', '$170.00',
       '$41.00', '$395.00', '$295.00', '$345.00', '$275.00', '$16.00',
       '$88.00', '$28.00', '$109.00', '$230.00', '$149.00', '$174.00',
       '$7.00'], dtype=object)

Now we work on binary data

In [775]:
binary_columns = ['host_is_superhost','host_has_profile_pic','host_identity_verified','is_location_exact','has_availability','requires_license','instant_bookable','is_business_travel_ready','require_guest_profile_picture','require_guest_phone_verification']
for i in binary_columns :
    categorical_df[i] = categorical_df[i].replace({'t': int(1), 'f': int(0)})
categorical_df

,host_since,host_response_time,host_response_rate,host_is_superhost,host_neighbourhood,host_verifications,host_has_profile_pic,host_identity_verified,neighbourhood,neighbourhood_cleansed,...,calendar_updated,has_availability,first_review,last_review,requires_license,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification
id,,,,,,,,,,,,,,,,,,,,,
5506,2009-02-19,within an hour,100%,0.0,Roxbury,"['email', 'phone', 'reviews', 'kba']",1.0,1.0,Roxbury,Roxbury,...,today,1,2009-03-21,2019-10-31,1,1,0,strict_14_with_grace_period,0,0
6695,2009-02-19,within an hour,100%,0.0,Roxbury,"['email', 'phone', 'reviews', 'kba']",1.0,1.0,Roxbury,Roxbury,...,today,1,2009-08-06,2019-11-02,1,1,0,strict_14_with_grace_period,0,0
8789,2009-07-22,within a few hours,100%,1.0,Beacon Hill,"['email', 'phone', 'reviews', 'jumio', 'offlin...",1.0,0.0,Beacon Hill,Downtown,...,3 months ago,1,2014-08-12,2019-09-30,1,0,0,strict_14_with_grace_period,0,0
10730,2009-07-22,within a few hours,100%,1.0,Beacon Hill,"['email', 'phone', 'reviews', 'jumio', 'offlin...",1.0,0.0,Beacon Hill,Downtown,...,3 months ago,1,2009-09-21,2019-09-14,1,0,0,strict_14_with_grace_period,0,0
10811,2009-09-16,within an hour,100%,0.0,Back Bay,"['email', 'phone', 'reviews', 'jumio', 'offlin...",1.0,0.0,Back Bay,Back Bay,...,4 weeks ago,1,2016-01-09,2019-07-22,1,0,0,strict_14_with_grace_period,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40565168,2019-06-04,within an hour,100%,0.0,Allston-Brighton,"['email', 'phone', 'work_email']",1.0,0.0,NaN,Allston,...,today,1,NaN,NaN,1,1,0,strict_14_with_grace_period,0,0
40566368,2019-07-15,NaN,NaN,0.0,Roxbury,"['email', 'phone', 'offline_government_id', 's...",1.0,0.0,Roxbury,Roxbury,...,today,1,NaN,NaN,1,1,0,flexible,0,0
40567601,2016-09-27,within an hour,100%,1.0,Brookline,"['email', 'phone', 'reviews', 'jumio', 'govern...",1.0,0.0,Allston-Brighton,Brighton,...,today,1,NaN,NaN,1,1,0,strict_14_with_grace_period,0,0
40572099,2016-09-27,within an hour,100%,1.0,Brookline,"['email', 'phone', 'reviews', 'jumio', 'govern...",1.0,0.0,Allston-Brighton,Brighton,...,today,1,NaN,NaN,1,1,0,strict_14_with_grace_period,0,0
40573640,2019-06-04,within an hour,100%,0.0,Allston-Brighton,"['email', 'phone', 'work_email']",1.0,0.0,Allston-Brighton,Brighton,...,today,1,NaN,NaN,1,1,0,strict_14_with_grace_period,0,0

data that's actually Numerical :( like price but cuz of the dollar mark is classified as an object )

In [776]:
num_data_in_cat=['host_response_rate','price','weekly_price','monthly_price','security_deposit','cleaning_fee','extra_people']
#host_response_rate is percentage we will remove the '%' mark then move the column to numericall data frame :
categorical_df['host_response_rate'] = categorical_df['host_response_rate'].str.replace('%', '').astype(float)
numerical_df = pd.concat([numerical_df,categorical_df['host_response_rate']],axis=1)
#rename the column to make the data more readable
numerical_df = numerical_df.rename(columns={'host_response_rate': 'percent_host_response_rate'})
#drop the column from the categorical dataframe
categorical_df = categorical_df.drop('host_response_rate', axis=1)
for i in range(1, len(num_data_in_cat)) :
    categorical_df[num_data_in_cat[i]] = categorical_df[num_data_in_cat[i]].str.replace(',', '') #if u dont do this you will get en error at values like 3,999.0
    categorical_df[num_data_in_cat[i]] = categorical_df[num_data_in_cat[i]].str.replace('$', '').astype(float)
    numerical_df = pd.concat([numerical_df,categorical_df[num_data_in_cat[i]]],axis=1)
    #rename the column to make the data more readable
    numerical_df = numerical_df.rename(columns={num_data_in_cat[i]: num_data_in_cat[i]+'_in$'})
    #drop the column from the categorical dataframe
    categorical_df = categorical_df.drop(num_data_in_cat[i], axis=1)

numerical_df

C:\Users\hp\AppData\Local\Temp\ipykernel_15164\3680027215.py:11: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  categorical_df[num_data_in_cat[i]] = categorical_df[num_data_in_cat[i]].str.replace('$', '').astype(float)
C:\Users\hp\AppData\Local\Temp\ipykernel_15164\3680027215.py:11: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  categorical_df[num_data_in_cat[i]] = categorical_df[num_data_in_cat[i]].str.replace('$', '').astype(float)
C:\Users\hp\AppData\Local\Temp\ipykernel_15164\3680027215.py:11: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  categorical_df[num_data_in_cat[i]] = categorical_df[num_data_in_cat[i]].str.replace('$', '').astype(float)
C:\Users\hp\AppData\Local\Temp\ipykernel_15164\3680027215.py:11: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  categorical_df[num_data_in_cat[i]] = categorical_df[num_data_in_cat[i]].str.replace('$', '').astype(float)
C:\Users\hp\AppData\Local\Temp\ipykernel_15164\3680027215.py:11: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  categorical_df[num_data_in_cat[i]] = categorical_df[num_data_in_cat[i]].str.replace('$', '').astype(float)
C:\Users\hp\AppData\Local\Temp\ipykernel_15164\3680027215.py:11: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  categorical_df[num_data_in_cat[i]] = categorical_df[num_data_in_cat[i]].str.replace('$', '').astype(float)

,scrape_id,host_id,host_listings_count,host_total_listings_count,latitude,longitude,accommodates,bathrooms,bedrooms,beds,...,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month,percent_host_response_rate,price_in$,weekly_price_in$,monthly_price_in$,security_deposit_in$,cleaning_fee_in$,extra_people_in$
id,,,,,,,,,,,,,,,,,,,,,
5506,20191204162830,8229,6.0,6.0,42.32981,-71.09559,2,1.0,1.0,1.0,...,0,0,0.81,100.0,145.0,980.0,3000.0,0.0,60.0,0.0
6695,20191204162830,8229,6.0,6.0,42.32994,-71.09351,4,1.0,1.0,2.0,...,0,0,0.91,100.0,169.0,NaN,NaN,0.0,80.0,8.0
8789,20191204162830,26988,12.0,12.0,42.35919,-71.06265,2,1.0,1.0,1.0,...,0,0,0.37,100.0,99.0,1200.0,2900.0,1000.0,250.0,0.0
10730,20191204162830,26988,12.0,12.0,42.35840,-71.06185,2,1.0,1.0,1.0,...,0,0,0.24,100.0,150.0,1200.0,3000.0,1000.0,250.0,0.0
10811,20191204162830,38997,11.0,11.0,42.34973,-71.08792,3,1.0,0.0,1.0,...,0,0,0.19,100.0,84.0,NaN,2250.0,500.0,150.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40565168,20191204162830,266312920,24.0,24.0,42.36528,-71.11290,8,1.5,3.0,4.0,...,0,0,NaN,100.0,250.0,NaN,NaN,500.0,175.0,20.0
40566368,20191204162830,276272964,2.0,2.0,42.30989,-71.08437,8,1.0,4.0,1.0,...,1,0,NaN,NaN,300.0,NaN,NaN,NaN,NaN,0.0
40567601,20191204162830,96961013,22.0,22.0,42.33697,-71.15169,2,1.0,0.0,1.0,...,0,0,NaN,100.0,120.0,NaN,NaN,500.0,150.0,0.0
40572099,20191204162830,96961013,22.0,22.0,42.33697,-71.15169,4,1.0,1.0,1.0,...,0,0,NaN,100.0,150.0,NaN,NaN,500.0,120.0,20.0
40573640,20191204162830,266312920,24.0,24.0,42.33697,-71.15169,6,1.0,2.0,3.0,...,0,0,NaN,100.0,200.0,NaN,NaN,500.0,165.0,25.0

Nominal data to be unpacked, then later one hot encoded

In [777]:
categorical_df['amenities'].unique()
categorical_df = categorical_df.drop('amenities',axis=1)

In [778]:
categorical_df['host_verifications'].unique()

array(["['email', 'phone', 'reviews', 'kba']",
       "['email', 'phone', 'reviews', 'jumio', 'offline_government_id', 'selfie', 'government_id', 'identity_manual']",
       "['email', 'phone', 'facebook', 'reviews', 'kba', 'work_email']",
       "['email', 'phone', 'reviews', 'kba', 'work_email']",
       "['email', 'phone', 'google', 'reviews']",
       "['email', 'phone', 'reviews', 'manual_offline', 'jumio', 'government_id']",
       "['email', 'phone', 'reviews']",
       "['email', 'phone', 'reviews', 'jumio', 'offline_government_id', 'kba', 'selfie', 'government_id', 'identity_manual', 'work_email']",
       "['email', 'phone', 'facebook', 'reviews', 'offline_government_id', 'kba', 'selfie', 'government_id', 'identity_manual']",
       "['email', 'phone', 'facebook', 'reviews', 'kba']",
       "['email', 'phone', 'facebook', 'reviews', 'jumio', 'government_id', 'work_email']",
       "['email', 'phone', 'facebook', 'reviews', 'jumio', 'offline_government_id', 'government_id', 'work_email']",
       "['email', 'phone', 'facebook', 'reviews', 'jumio', 'government_id']",
       "['email', 'phone', 'facebook', 'reviews', 'offline_government_id', 'kba', 'government_id']",
       "['email', 'phone', 'google', 'reviews', 'jumio', 'offline_government_id', 'government_id']",
       "['email', 'phone', 'reviews', 'jumio', 'government_id']",
       "['email', 'phone', 'reviews', 'offline_government_id', 'kba', 'government_id']",
       "['email', 'phone', 'reviews', 'jumio', 'offline_government_id', 'kba', 'selfie', 'government_id', 'identity_manual']",
       "['email', 'phone', 'facebook', 'reviews', 'manual_offline', 'jumio', 'government_id', 'work_email']",
       "['email', 'phone', 'reviews', 'jumio', 'offline_government_id', 'government_id']",
       "['email', 'phone', 'facebook', 'reviews', 'jumio', 'offline_government_id', 'government_id']",
       "['email', 'phone', 'reviews', 'offline_government_id', 'kba', 'selfie', 'government_id']",
       "['email', 'phone', 'reviews', 'offline_government_id', 'kba', 'selfie', 'government_id', 'identity_manual', 'work_email']",
       "['email', 'phone', 'facebook', 'reviews']",
       "['email', 'phone', 'manual_online', 'facebook', 'reviews', 'manual_offline', 'jumio', 'offline_government_id', 'government_id']",
       "['email', 'phone']",
       "['email', 'phone', 'facebook', 'reviews', 'jumio', 'offline_government_id', 'selfie', 'government_id', 'identity_manual']",
       "['email', 'phone', 'reviews', 'offline_government_id', 'kba', 'government_id', 'work_email']",
       "['email', 'phone', 'reviews', 'jumio', 'offline_government_id', 'kba', 'government_id']",
       "['email', 'phone', 'reviews', 'offline_government_id', 'kba', 'selfie', 'government_id', 'identity_manual']",
       "['email', 'phone', 'reviews', 'jumio', 'offline_government_id', 'government_id', 'work_email']",
       "['email', 'phone', 'google', 'reviews', 'jumio', 'kba', 'government_id', 'work_email']",
       "['email', 'phone', 'facebook', 'reviews', 'offline_government_id', 'government_id']",
       "['email', 'phone', 'manual_online', 'reviews', 'manual_offline', 'kba']",
       "['email', 'phone', 'google', 'reviews', 'kba']",
       "['email', 'phone', 'jumio', 'offline_government_id', 'selfie', 'government_id', 'identity_manual']",
       "['email', 'phone', 'manual_online', 'reviews', 'manual_offline', 'jumio', 'government_id']",
       "['email', 'phone', 'google', 'reviews', 'offline_government_id', 'kba', 'selfie', 'government_id']",
       "['email', 'phone', 'reviews', 'jumio', 'offline_government_id', 'kba', 'selfie', 'government_id']",
       "['email', 'phone', 'reviews', 'offline_government_id', 'selfie', 'government_id']",
       "['email', 'phone', 'facebook', 'google', 'reviews', 'jumio', 'offline_government_id', 'government_id']",
       "['email', 'phone', 'reviews', 'jumio', 'offline_government_id', 'selfie', 'government_id', 'identity_manual', 'work_email']",
       "['email', 'phone', 'google', 'reviews', 'kba', 'work_email']",
       "['email', 'phone', 'google', 'reviews', 'jumio', 'government_id']",
       "['email', 'phone', 'reviews', 'jumio', 'government_id', 'work_email']",
       "['email', 'phone', 'facebook', 'jumio', 'government_id', 'work_email']",
       "['email', 'phone', 'reviews', 'jumio', 'work_email']",
       "['email', 'phone', 'facebook', 'reviews', 'offline_government_id', 'kba', 'selfie', 'government_id', 'identity_manual', 'work_email']",
       "['email', 'phone', 'google', 'reviews', 'jumio', 'government_id', 'work_email']",
       "['email', 'phone', 'reviews', 'jumio', 'offline_government_id', 'kba', 'government_id', 'work_email']",
       "['email', 'phone', 'facebook', 'reviews', 'jumio', 'offline_government_id', 'kba', 'selfie', 'government_id', 'identity_manual']",
       "['phone', 'facebook', 'reviews']",
       "['email', 'phone', 'reviews', 'jumio', 'kba', 'government_id', 'work_email']",
       "['email', 'phone', 'reviews', 'weibo', 'jumio', 'government_id']",
       "['email', 'phone', 'manual_online', 'reviews', 'manual_offline', 'jumio', 'offline_government_id', 'kba', 'government_id']",
       'None',
       "['email', 'phone', 'reviews', 'manual_offline', 'jumio', 'offline_government_id', 'government_id', 'work_email']",
       "['email', 'phone', 'facebook', 'reviews', 'work_email']",
       "['email', 'phone', 'facebook', 'reviews', 'jumio', 'offline_government_id', 'kba', 'selfie', 'government_id', 'identity_manual', 'work_email']",
       "['email', 'phone', 'reviews', 'jumio']",
       "['email', 'phone', 'jumio', 'government_id']",
       "['email', 'phone', 'offline_government_id', 'selfie', 'government_id', 'identity_manual']",
       "['email', 'phone', 'google', 'reviews', 'jumio', 'offline_government_id', 'kba', 'government_id', 'work_email']",
       "['email', 'phone', 'reviews', 'offline_government_id', 'kba', 'selfie', 'government_id', 'work_email']",
       "['email', 'phone', 'facebook', 'reviews', 'jumio', 'selfie', 'government_id', 'identity_manual']",
       "['email', 'phone', 'reviews', 'jumio', 'kba', 'government_id']",
       "['email', 'phone', 'reviews', 'jumio', 'selfie', 'government_id']",
       "['phone', 'offline_government_id', 'government_id']",
       "['email', 'phone', 'reviews', 'jumio', 'selfie', 'government_id', 'identity_manual']",
       "['email', 'phone', 'facebook', 'reviews', 'jumio', 'offline_government_id', 'kba', 'government_id', 'work_email']",
       "['phone']",
       "['email', 'phone', 'google', 'reviews', 'jumio', 'offline_government_id', 'kba', 'government_id']",
       "['email', 'phone', 'facebook', 'reviews', 'jumio', 'kba', 'government_id']",
       "['email', 'phone', 'jumio', 'offline_government_id', 'government_id']",
       "['email', 'phone', 'kba']",
       "['email', 'phone', 'facebook', 'reviews', 'jumio', 'offline_government_id', 'kba', 'government_id']",
       "['phone', 'reviews']",
       "['email', 'phone', 'reviews', 'work_email']",
       "['email', 'phone', 'facebook', 'kba']",
       "['email', 'phone', 'reviews', 'offline_government_id', 'selfie', 'government_id', 'identity_manual']",
       "['email', 'phone', 'offline_government_id', 'kba', 'selfie', 'government_id', 'identity_manual']",
       "['email', 'phone', 'reviews', 'offline_government_id', 'government_id']",
       "['phone', 'reviews', 'offline_government_id', 'kba', 'selfie', 'government_id', 'identity_manual']",
       "['phone', 'facebook']",
       "['email', 'phone', 'reviews', 'offline_government_id', 'selfie', 'government_id', 'identity_manual', 'work_email']",
       "['email', 'phone', 'reviews', 'jumio', 'selfie', 'government_id', 'identity_manual', 'work_email']",
       "['email', 'phone', 'facebook', 'google', 'reviews', 'kba']",
       "['email', 'phone', 'reviews', 'manual_offline']",
       "['phone', 'reviews', 'jumio', 'offline_government_id', 'government_id']",
       "['email', 'phone', 'reviews', 'manual_offline', 'jumio', 'offline_government_id', 'government_id']",
       "['phone', 'facebook', 'reviews', 'kba']",
       "['email', 'phone', 'google', 'reviews', 'work_email']",
       "['email', 'phone', 'facebook', 'jumio', 'government_id']",
       "['phone', 'facebook', 'google', 'reviews']",
       "['email', 'phone', 'google', 'reviews', 'jumio', 'offline_government_id', 'kba', 'selfie', 'government_id', 'identity_manual']",
       "['email', 'phone', 'reviews', 'sesame', 'sesame_offline']",
       "['email', 'phone', 'offline_government_id', 'government_id']",
       "['email', 'phone', 'google', 'jumio', 'offline_government_id', 'government_id', 'work_email']",
       "['phone', 'reviews', 'jumio', 'offline_government_id', 'selfie', 'government_id', 'identity_manual']",
       "['email', 'phone', 'reviews', 'sesame', 'sesame_offline', 'work_email']",
       "['phone', 'reviews', 'kba']",
       "['email', 'phone', 'reviews', 'jumio', 'offline_government_id', 'selfie', 'government_id']",
       "['email', 'phone', 'google', 'reviews', 'jumio', 'offline_government_id', 'selfie', 'government_id', 'identity_manual']",
       "['email', 'phone', 'facebook', 'google', 'reviews', 'kba', 'work_email']",
       "['email', 'phone', 'facebook', 'reviews', 'jumio', 'offline_government_id', 'government_id', 'identity_manual']",
       "['email', 'phone', 'facebook', 'google', 'reviews', 'work_email']",
       "['email', 'phone', 'facebook', 'reviews', 'jumio', 'offline_government_id', 'selfie', 'government_id', 'identity_manual', 'work_email']",
       "['email', 'phone', 'google']",
       "['email', 'phone', 'facebook', 'google', 'reviews', 'jumio', 'offline_government_id', 'kba', 'government_id']",
       "['email', 'phone', 'facebook', 'reviews', 'jumio', 'offline_government_id', 'selfie', 'government_id']",
       "['email', 'phone', 'facebook', 'jumio', 'offline_government_id', 'selfie', 'government_id', 'identity_manual', 'work_email']",
       "['email', 'phone', 'facebook', 'google', 'reviews', 'jumio', 'offline_government_id', 'selfie', 'government_id', 'identity_manual']",
       "['email', 'phone', 'jumio', 'offline_government_id', 'kba', 'selfie', 'government_id', 'identity_manual']",
       "['email', 'phone', 'work_email']",
       "['email', 'phone', 'manual_online', 'reviews', 'manual_offline', 'jumio', 'offline_government_id', 'government_id']",
       "['email', 'phone', 'jumio', 'government_id', 'work_email']",
       "['email', 'phone', 'facebook', 'offline_government_id', 'selfie', 'government_id', 'work_email']",
       "['email', 'phone', 'facebook', 'offline_government_id', 'government_id']",
       "['phone', 'jumio', 'offline_government_id', 'selfie', 'government_id', 'identity_manual']",
       "['email', 'phone', 'jumio', 'offline_government_id', 'selfie', 'government_id', 'identity_manual', 'work_email']",
       "['email', 'phone', 'reviews', 'selfie', 'work_email']",
       "['phone', 'jumio', 'offline_government_id', 'government_id']",
       "['email', 'phone', 'selfie']",
       "['phone', 'offline_government_id', 'selfie', 'government_id', 'identity_manual']",
       "['email', 'phone', 'manual_online', 'google', 'reviews', 'manual_offline', 'jumio', 'selfie', 'government_id', 'identity_manual', 'work_email']",
       "['email', 'phone', 'offline_government_id', 'government_id', 'work_email']",
       "['email', 'phone', 'facebook', 'reviews', 'offline_government_id', 'selfie', 'government_id', 'work_email']",
       "['email', 'phone', 'jumio', 'offline_government_id', 'selfie', 'government_id']",
       "['email', 'phone', 'google', 'jumio', 'offline_government_id', 'selfie', 'government_id', 'identity_manual']",
       "['email', 'phone', 'facebook', 'google', 'reviews', 'offline_government_id', 'government_id']",
       "['email', 'phone', 'facebook', 'jumio', 'offline_government_id', 'government_id']",
       "['email', 'phone', 'offline_government_id', 'selfie', 'government_id']",
       "['email', 'phone', 'google', 'reviews', 'offline_government_id', 'selfie', 'government_id', 'identity_manual', 'work_email']",
       "['email', 'phone', 'google', 'work_email']",
       "['phone', 'google', 'reviews', 'jumio', 'offline_government_id', 'selfie', 'government_id', 'identity_manual']",
       "['email', 'phone', 'google', 'offline_government_id', 'selfie', 'government_id', 'identity_manual']",
       "['email', 'phone', 'facebook']",
       "['phone', 'facebook', 'google', 'reviews', 'jumio', 'offline_government_id', 'selfie', 'government_id', 'identity_manual']",
       "['phone', 'reviews', 'offline_government_id', 'selfie', 'government_id', 'identity_manual']",
       "['email', 'phone', 'facebook', 'google', 'reviews', 'jumio', 'offline_government_id', 'government_id', 'work_email']",
       "['email', 'phone', 'offline_government_id', 'selfie', 'government_id', 'identity_manual', 'work_email']",
       "['email', 'phone', 'google', 'offline_government_id', 'government_id']",
       "['email', 'phone', 'facebook', 'offline_government_id', 'kba', 'government_id']",
       "['email', 'phone', 'google', 'offline_government_id', 'selfie', 'government_id']",
       "['email', 'phone', 'jumio', 'offline_government_id', 'government_id', 'work_email']",
       "['email', 'phone', 'facebook', 'jumio', 'offline_government_id', 'selfie', 'government_id', 'identity_manual']",
       "['email', 'phone', 'google', 'jumio', 'offline_government_id', 'government_id']",
       "['phone', 'facebook', 'reviews', 'jumio', 'offline_government_id', 'selfie', 'government_id', 'identity_manual', 'work_email']",
       "['phone', 'jumio', 'offline_government_id', 'selfie', 'government_id']",
       "['email', 'phone', 'facebook', 'reviews', 'offline_government_id', 'selfie', 'government_id']",
       "['email', 'phone', 'facebook', 'reviews', 'offline_government_id', 'government_id', 'work_email']",
       "['email', 'phone', 'google', 'reviews', 'jumio', 'offline_government_id', 'selfie', 'government_id', 'identity_manual', 'work_email']",
       "['email', 'phone', 'google', 'jumio', 'government_id', 'work_email']",
       "['email', 'phone', 'facebook', 'reviews', 'jumio', 'offline_government_id', 'selfie', 'government_id', 'work_email']",
       "['email', 'phone', 'facebook', 'reviews', 'offline_government_id', 'kba', 'selfie', 'government_id', 'work_email']",
       "['phone', 'offline_government_id', 'government_id', 'work_email']",
       "['email', 'phone', 'facebook', 'reviews', 'jumio', 'selfie', 'government_id', 'identity_manual', 'work_email']",
       "['email', 'phone', 'offline_government_id', 'selfie', 'government_id', 'work_email']"],
      dtype=object)

In [779]:
import ast
unique_categories_host_verifications = []
for i  in list(categorical_df['host_verifications'].unique()) :
    my_list = ast.literal_eval(i)
    unique_categories_host_verifications.append(my_list)
#remove none vals :
unique_categories_host_verifications = [x for x in unique_categories_host_verifications if x is not None]
# now get the unique vals 
unique_categories_host_verifications0 = set(host_verification for row in unique_categories_host_verifications for host_verification in row)
unique_categories_host_verifications0
# for each type of verification we add a columns with 1 or 0 value
for i in unique_categories_host_verifications0 :
    categorical_df[i+'_host_verifications'] = categorical_df['host_verifications'].apply(lambda x: int(i in x))
categorical_df = categorical_df.drop('host_verifications',axis=1)
# unique_categories_host_verifications

In [780]:
bed_types = categorical_df['bed_type'].unique()
bed_types

array(['Real Bed', 'Pull-out Sofa', 'Futon', 'Airbed', 'Couch'],
      dtype=object)

In [781]:
#reate new columns to indicate bed type and drop the originale column
for i in bed_types :
    categorical_df['is_bed_type_'+i] = categorical_df['bed_type'].apply(lambda x: 1 if x == i else 0)
categorical_df = categorical_df.drop('bed_type',axis=1)

In [782]:
property_types = categorical_df['property_type'].unique()
#we do the same to the property_type
for i in property_types :
    categorical_df['is_property_type_'+i] = categorical_df['property_type'].apply(lambda x: 1 if x == i else 0)
categorical_df = categorical_df.drop('property_type',axis=1)

In [783]:
for i in property_types :
    print(categorical_df['is_property_type_'+i].value_counts())

0    3439
1      68
Name: is_property_type_Guest suite, dtype: int64
0    3216
1     291
Name: is_property_type_Condominium, dtype: int64
1    2270
0    1237
Name: is_property_type_Apartment, dtype: int64
0    2924
1     583
Name: is_property_type_House, dtype: int64
0    3505
1       2
Name: is_property_type_Boat, dtype: int64
0    3421
1      86
Name: is_property_type_Townhouse, dtype: int64
0    3455
1      52
Name: is_property_type_Serviced apartment, dtype: int64
0    3483
1      24
Name: is_property_type_Loft, dtype: int64
0    3479
1      28
Name: is_property_type_Bed and breakfast, dtype: int64
0    3504
1       3
Name: is_property_type_Bungalow, dtype: int64
0    3479
1      28
Name: is_property_type_Other, dtype: int64
0    3505
1       2
Name: is_property_type_Villa, dtype: int64
0    3500
1       7
Name: is_property_type_Guesthouse, dtype: int64
0    3483
1      24
Name: is_property_type_Boutique hotel, dtype: int64
0    3506
1       1
Name: is_property_type_In-law, dtype: int64
0    3506
1       1
Name: is_property_type_Barn, dtype: int64
0    3471
1      36
Name: is_property_type_Hotel, dtype: int64
0    3506
1       1
Name: is_property_type_Cottage, dtype: int64

In [784]:
final_df = pd.merge(numerical_df,categorical_df,on='id')

In [785]:
#import the cleaned data into a csv file
final_df.to_csv('./data_cleaned/prepared_boston.csv')